*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GoodSans-Regular';
  src: url(../typefaces/GoodSans-Regular.woff) format("woff"), url(../typefaces/GoodSans-Regular.otf) format("opentype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'cirka-light';
  src: url(../typefaces/cirka-light.woff) format("woff"), url(../typefaces/cirka-light.otf) format("opentype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'CivilitateTrialV0.2-Hairline';
  src: url(../typefaces/CivilitateTrialV0.2-Hairline.woff) format("woff"), url(../typefaces/CivilitateTrialV0.2-Hairline.otf) format("opentype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'Sword2018';
  src: url(../typefaces/Sword2018.woff) format("woff"), url(../typefaces/Sword2018.otf) format("opentype");
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: 'GoodSans-Regular';
  font-size: 2rem;
  line-height: 1.2;
  color: #0f0f0f;
  background-color: #fff;
  overflow-x: hidden;
}

chapters-list {
  font-family: 'cirka-light';
  font-size: 2rem;
  line-height: 1.6;
  color: #0f0f0f;
  background-color: #fff;
  overflow-x: hidden;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

nav h1 {
  font-size: 1em;
}

.wrapper {
  margin: auto;
  left: 0;
  right: 0;
}

.wrapper p,
.wrapper h3,
.wrapper h4,
.wrapper .chapter-body li,
.wrapper nav {
  margin: auto;
  padding-left: 3.92rem;
  padding-right: 3.92rem;
  max-width: 900px;
}

.wrapper .intro {
  position: relative;
  width: 100%;
  height: 100vh;
  vertical-align: top;
}

.wrapper .intro .title {
  text-align: center;
  font-family: 'cirka-light';
}

.wrapper .intro .thesis-title {
  position: absolute;
  top: -9vw;
  left: -0.6%;
  right: 0;
  font-size: 25vw;
  letter-spacing: -1vw;
  -webkit-text-stroke: 2px #000;
  background-size: 100%;
  /* Color fallback */
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .menu {
  padding-bottom: 2.8rem;
  padding-left: 3.92rem;
  padding-right: 3.92rem;
}

.wrapper .menu .chapters-list li {
  display: inline-block;
  margin-right: 1em;
}

.wrapper .menu .chapters-list li:last-child {
  margin-right: 0;
}

.wrapper .container {
  overflow-x: hidden;
}

.wrapper .container .chapter .chapter-title {
  margin-top: 2.8rem;
  margin-bottom: 1.4rem;
  font-size: 12vw;
  line-height: 0.924;
}

.wrapper .container .chapter .imageWrapper {
  padding-left: 3.92rem;
  padding-right: 3.92rem;
  margin: auto;
  max-width: 900px;
}

textarea {
    resize: vertical;
}

#menu {
  font-family: 'cirka-light';
  font-size: 2rem;
  line-height: 1.6;
  color: #0f0f0f;
  background-color: #fff;
  overflow-x: hidden;
}

mark {
  font-family: 'CivilitateTrialV0.2-Hairline';
  font-size: 2rem;
  line-height: 1.6;
  color: #0f0f0f;
  background-color: #fff;
  overflow-x: hidden;
}
